
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

  body{
    height: 100vh;
  }

  main{
    height: 55%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
  }

  :root{
    --card-width: 157px;
    --card-height: 220px;
    --num-cards: 4;
    --card-horizontal-space: 100px
  }


  .card-containet{
    position: relative;
    height: 100%;
    width: calc(var(--card-width) * (var(--num-cards) / 2) + var(--card-horizontal-space));
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b"
                                        "c d";
     border: 1px solid black;
  }

  .card-pos-a{
    grid-area: a;
    border: 1px solid black;
    background-color: #FA7E61;
  }

  .card-pos-b{
    grid-area: b;
    border: 1px solid black;
    background-color: #FEE1C7;
  }

  .card-pos-c{
    grid-area: c;
    border: 1px solid black;
    background-color: #B5A886;
  }

  .card-pos-d{
    grid-area: d;
    border: 1px solid black;
    background-color: #4C1E4F;
  }

  .card{
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    perspective: 1000px;
    cursor: pointer;
  }

  .card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-img{
    height: 100%;
  }

  .card-back{
    transform: rotateY(180deg);
  }

  .card:hover .card-inner{
    transform: rotateY(180deg);
  }